{% extends 'layout.html.twig' %}

{% block content %}
    <h1>FAQ</h1>

    <p>If you have any questions about tablets, Bluesfest/CityFolk, volunteer things, life in general, etc. ask <span
                class="font-bold>">Area Leader Chris</span>!</p>
{% endblock content %}