{% extends 'layout.html.twig' %}

{% block content %}
<h1>FAQ</h1>

<p>If you have any questions about tablets, bluesfest, volunteer things, life in general, ask Area Leader Chris!</p>
{% endblock content %}